{% load i18n %}

{% if cancel_url %}
  <a href="{{ cancel_url }}"
     class="pull-right button button--small">{% trans "Cancel" %}</a>
{% endif %}
{% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit"
          value="{{ wizard.steps.prev }}"
          class="button button--small">{% trans "Back" %}</button>
{% else %}
  <button disabled name="" type="button"
          class="button button--disabled button--small">{% trans "Back" %}</button>
{% endif %}
<button type="submit" class="button button--primary button--small">{% trans "Next" %}</button>