[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"
gunicorn = "*"
python-dotenv = "*"
django-heroku = "*"
django-libsass = "*"
selenium = "*"
coverage = "*"
django-coverage-plugin = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
