{% extends "pathways/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<section class="slab slab--white">
    <div class="grid">
        <div class="grid__item width-two-thirds shift-one-sixth">
            <h1 class="with-padding-large text--blue-dark">{% blocktrans trimmed %}We help people receive financial assistance on their Buffalo Water bill any
                time, from any device.{% endblocktrans %}</h1>
            <p class="text--centered">
                <a class="button button--primary" href="{% url 'pathways-apply-discount-overview' %}">{% trans "Apply now" %}<i
                        class="button__icon icon-arrow_forward"></i></a>
            </p>
        </div>
    </div>
</section>
<section class="slab slab--blue-light text--blue-dark">
    <div class="grid">
        <div class="grid__item width-two-thirds shift-one-sixth">
            <p class="h2 with-padding-med text--grey-light" style="font-weight: 500;">
                {% blocktrans trimmed %}
                We believe every Buffalonian deserves access to affordable water service with ease, efficiency and
                dignity.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed %}
                Our goal is to make water bills more affordable for residential customers in
                our City, by providing bill access assistance, water conservation measures, and help navigating
                provided resources.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed %}
                Eligibility for financial assistance is based on household income relative to federal low-income
                guidelines.
                {% endblocktrans %}
            </p>
            <div class="grid">
                <div class="grid__item width-five-sixths shift-one-twelfth">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th><b class="text--blue-dark">{% trans "Family Size" %}</b></th>
                                <th><b class="text--blue-dark">{% trans "Max Income" %}</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>$41,850</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>$47,800</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>$53,800</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>$59,750</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>$64,550</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>$69,350</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>$74,100</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>$78,900</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <p>
                {% blocktrans trimmed %}
                Households are considered <b>automatically eligible</b> for the Residential Affordable Water Program if
                the
                household contains a member who receives Supplemental Security Income (SSI),
                Public Assistance, Supplemental Nutrition Assistance Program (SNAP sometimes referred
                to as Food Stamps), or Home Energy Assistance Program (HEAP) benefits.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</section>
<section class="slab slab--white">
    <div class="grid">
        <div class="grid__item width-two-thirds shift-one-sixth">
            <p class="text--caption with-padding-med text--blue-dark">
                {% blocktrans trimmed %}
                Buffalo Water proudly works together with community-based
                organizations to help ensure that water, Earth's greatest resource, is accessible to everyone.
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="grid">
        <div class="grid__item width-two-thirds shift-one-sixth">
            <img class="partner-logo" alt="City of Buffalo"
                src="{% static 'pathways/cfa-styleguide-gem/app/assets/images/buffalo_seal_95.png' %}" />
            <img class="partner-logo" alt="Buffalo Water"
                src="{% static 'pathways/cfa-styleguide-gem/app/assets/images/buffalo_water_95.png' %}" />
            <img class="partner-logo" alt="Buffalo Sewer Authority"
                src="{% static 'pathways/cfa-styleguide-gem/app/assets/images/buffalo_sewer_95.png' %}" />
            <img class="partner-logo" alt="Community Foundation for Greater Buffalo"
                src="{% static 'pathways/cfa-styleguide-gem/app/assets/images/cfgb_95.png' %}" />
            <img class="partner-logo" alt="PUSH Buffalo"
                src="{% static 'pathways/cfa-styleguide-gem/app/assets/images/push_buffalo_95.png' %}" />
            <img class="partner-logo" alt="Catholic Charities"
                src="{% static 'pathways/cfa-styleguide-gem/app/assets/images/catholic_charities_95.png' %}" />
            <img class="partner-logo" alt="US Water Alliance"
                src="{% static 'pathways/cfa-styleguide-gem/app/assets/images/us_water_alliance_95.png' %}" />
        </div>
    </div>
</section>
<section class="slab slab--blue-lightest">
    <div class="grid">
        <div class="grid__item width-two-thirds shift-one-sixth">
            <ul class="list--checkmark">
                <li>
                    <p class="text--caption text--blue-dark">{% blocktrans trimmed %}A website that works for everyone{% endblocktrans %}</p>
                    <p class="text--help text--blue-dark">{% blocktrans trimmed %}With GetWaterWiseBuffalo.org, residents can apply for water assistance from
                        any
                        mobile phone
                        or computer with an internet connection.{% endblocktrans %}</p>
                </li>
                <li>
                    <p class="text--caption text--blue-dark">{% blocktrans trimmed %}A quick application for assistance{% endblocktrans %}</p>
                    <p class="text--help text--blue-dark">{% blocktrans trimmed %}On GetWaterWiseBuffalo.org, residents can complete an application for water
                        assistance in
                        about 10 minutes or less.{% endblocktrans %}</p>
                </li>
                <li>
                    <p class="text--caption text--blue-dark">{% blocktrans trimmed %}A simple way to send verification documents{% endblocktrans %}</p>
                    <p class="text--help text--blue-dark">{% blocktrans trimmed %}With GetWaterWiseBuffalo.org, residents can take photos and submit required
                        documents
                        right from their phone. No scanners or snail mail is required.{% endblocktrans %}</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="slab slab--white">
    <div class="grid">
        <div class="grid__item width-two-thirds">
            <p class="text--caption text--blue-dark spacing-below-35 ">{% blocktrans trimmed %}GetWaterWiseBuffalo.org was created by Code for Buffalo
                through the 2019 Code for America Community Fellowship.{% endblocktrans %}</p>
            <p class="text--help text--blue-dark spacing-below-35">{% blocktrans trimmed %}Code for America is a non-profit technology organization
                dedicated to making government work in the digital age, for the people that need it most. Learn
                more at <a href="https://www.codeforamerica.org">www.codeforamerica.org</a>.{% endblocktrans %}</p>
        </div>
        <div class="grid__item width-one-third">
            <div class="grid spacing-below-35">
                <div class="grid__item width-one-whole">
                    <img alt="Code for Buffalo"
                src="{% static 'pathways/cfa-styleguide-gem/app/assets/images/code_for_buffalo_horizontal_100_blue_sm.png' %}" />
                </div>
            </div>
            <div class="grid">
                <div class="grid__item width-two-thirds shift-one-sixth">
                    <img alt="Code for America"
                src="{% static 'pathways/cfa-styleguide-gem/app/assets/images/cfa_logo_color_81.png' %}" />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}