{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">{% trans "Apply for Affordable Water" %}</legend>
                <div class="row justify-content-center">
                    {{ form|crispy }}
                </div>
        </div>

        </fieldset>
        <div class="row justify-content-center">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">{% trans "Next" %}</button>
            </div>
        </div>

    </form>
</div>
{% endblock content %}