{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">{% trans "Apply for Affordable Water" %}</legend>
                <div class="row justify-content-center">
                    <label for="id_hasHouseholdBenefits" class="col-form-label text-center">
                        {{ form.hasHouseholdBenefits.label }}
                    </label>
                </div>
                <div class="row justify-content-center pt-2">
                    <ul>
                        <li>{% trans "Supplemental Security Income (SSI)" %}</li>
                        <li>{% trans "Public Assistance" %}</li>
                        <li>{% trans "Supplemental Nutrition Assistance Program (SNAP/Food Stamps)" %}</li>
                        <li>{% trans "Home Energy Assistance Program (HEAP)" %}</li>
                    </ul>
                    <br>
                </div>
                <div class="row justify-content-center pt-2">
                    <div class="px-2">
                        <button type="submit" name="hasHouseholdBenefits" class="btn btn-primary" value="True">
                            <i class="fas fa-check pr-2"></i>{% trans "Yes" %}</button>
                    </div>
                    <div class="px-2">
                        <button type="submit" name="hasHouseholdBenefits" class="btn btn-primary" value="False">
                            <i class="fas fa-times pr-2"></i>{% trans "No" %}</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>
{% endblock content %}