{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <div class="card">
        <div class="card-header">
            <div class="p-2">
                <div class="row justify-content-center">
                    <i class="fas fa-check fa-3x" style="color: green"></i>
                </div>
                <h1 class="h4 text-center">{% trans "Your application has been successfully submitted!" %}
            </div>
        </div>
        <div class="card-body">
            <div class="container p-2">
                <div class="row">
                    <h2 class="h5 text-center font-weight-light">{% trans "What to expect next:" %}</h2>
                </div>
                <div class="row">
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}