{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">{% trans "Signature" %}</legend>
                <h1 class="h6 text-center">{% trans "Type your full legal name to sign this application." %}</h1>
                <p>{% trans "By entering your name you agree that you want to apply for the Residential Affordable Water Program, that you have been honest on this application, and that you have read and agreed to the terms on the previous page." %}</p>
                {{ form|crispy }}
            </fieldset>
        </div>
        <div class="row justify-content-center">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}