{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    {% csrf_token %}
    <div class="container">
        <h1 class="h5 font-weight-normal border-bottom mb-4 text-center">{% trans "Apply for Affordable Water" %}</h1>
        <div class="row justify-content-center">
            <h2 class="h5 font-weight-normal text-center">
                {% trans "We just need a little more information to finish your application." %}
            </h2>
        </div>
        <div class="container">
            <!-- Description of info -->
            <div class="row justify-content-center py-1">
                <small>We need to know who you are, where you live, and how best to contact you.</small>
            </div>
            <!-- Interaction buttons -->
            <div class="row justify-content-center py-3">
                <a role="button" href="{% url 'pathways-home' %}" class="btn btn-primary">
                    {% trans "Continue" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}