{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div class="h5 font-weight-normal">{% trans "Verify your income" %}</div>
            </div>
            <div class="card-body">
                <div class="container px-6">
                    <fieldset>
                        <div class="row">
                            <legend class="h5">{{ form.income_photo.label }}</legend>
                            <!-- <label for="income_photo" class="card-title" style="display: none">{{ form.income_photo.label }}</label> -->
                            <p id="hint_id_income_photo">{{ form.income_photo.help_text }}</p>
                        </div>
                        <div class="row">
                            <!-- <label for="id_income_photo" class="btn btn-primary">{% trans "Upload image" %}</label> -->
                            <input type="file" name="income_photo" id="id_income_photo" accept="image/*" required>
                            <!-- style="display: none"-->
                        </div>
                    </fieldset>
                    <hr>
                    <div class="row">
                        <div class="form-group">
                            <button class="btn btn-primary"
                                type="submit">{% trans "Done with documents" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}