{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="h5 text-center pt-4">
                {% trans "Let's review what you told us about your application" %}
            </h1>
        </div>

        <hr>

        <!-- Eligibility -->
        <div class="row py-1">
            <div class="col">
                <div class="row justify-content-center">
                    <h2 class="h4">{% trans "Eligibility Info" %}</h2>
                </div>
                <!-- Household Size -->
                <div class="row py-1">
                    <div class="col justify-content-center">
                        <div class="row justify-content-center">
                            <h3 class="h6 pb-0 mb-0">
                                <strong>{% trans "Household Size" %}</strong>
                            </h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="h5 font-weight-heavy" style="color: green">
                                {{ request.session.household }}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Qualifying Benefits -->
                <div class="row py-1">
                    <div class="col justify-content-center">
                        <div class="row justify-content-center">
                            <h3 class="h6 pb-0 mb-0">
                                <strong>{% trans "Existing Household Benefits" %}</strong>
                            </h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="h6 font-weight-normal text-center">
                                {% if request.session.hasHouseholdBenefits == 'True' %}
                                {% trans "You indicated <strong>no one</strong> in your household is enrolled in existing assistance programs like HEAP or SNAP." %}
                                {% else %}
                                {% trans "You indicated <strong>someone</strong> in your household is enrolled in existing assistance programs like HEAP or SNAP." %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                {% if request.session.hasHouseholdBenefits == 'False' %}
                <!-- Income -->
                <div class="row py-1">
                    <div class="col justify-content-center">
                        <div class="row justify-content-center">
                            <h3 class="h6 pb-0 mb-0">
                                <strong>{% trans "Annual Household Income" %}</strong>
                            </h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="h5 font-weight-heavy text-center" style="color: green">
                                {{ income_formatted }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
        <!-- End Eligibility Info -->

        <hr>

        <!-- Personal Info -->
        <div class="row py-1">
            <div class="col">
                <div class="row justify-content-center">
                    <h2 class="h4">{% trans "Personal Info" %}</h2>
                </div>

                <!-- Full Name -->
                <div class="row py-1">
                    <div class="col justify-content-center">
                        <div class="row justify-content-center">
                            <h3 class="h6 pb-0 mb-0">
                                <strong>{% trans "Full Name" %}</strong>
                            </h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="h5 font-weight-normal">
                                {{ request.session.first_name }} {{ request.session.middle_initial }}
                                {{ request.session.last_name }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Rent or own -->
                <div class="row py-1">
                    <div class="col justify-content-center">
                        <div class="row justify-content-center">
                            <h3 class="h6 mb-0">
                                <strong>{% trans "Status" %}</strong>
                            </h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="h5 font-weight-normal">
                                {% blocktrans with rentOwn=request.session.rent_or_own%}
                                You <strong style="color: green">{{ rentOwn }}</strong> your home.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Street Address -->
                <div class="row py-1">
                        <div class="col justify-content-center">
                            <div class="row justify-content-center">
                                <h3 class="h6 pb-0 mb-0">
                                    <strong>{% trans "Street Address" %}</strong>
                                </h3>
                            </div>
                            <div class="row justify-content-center">
                                <p class="h5 font-weight-normal text-center">
                                    {{ request.session.street_address }}
                                    <br>
                                    {% if request.session.apartment_unit %}
                                    Apartment {{ request.session.apartment_unit }}
                                    {% endif %}
                                    <br>
                                    Buffalo, NY {{ request.session.zip_code }}
                                </p>
                            </div>
                        </div>
                    </div>

                <!-- Phone Number -->
                <div class="row py-1">
                    <div class="col justify-content-center">
                        <div class="row justify-content-center">
                            <h3 class="h6 pb-0 mb-0">
                                <strong>{% trans "Phone Number" %}</strong>
                            </h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="h5 font-weight-normal">
                                {{ request.session.phone_number }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Email Address -->
                <div class="row py-1">
                    <div class="col justify-content-center">
                        <div class="row justify-content-center">
                            <h3 class="h6 pb-0 mb-0">
                                <strong>{% trans "Email Address" %}</strong>
                            </h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="h5 font-weight-normal">
                                {% if request.session.email_address %}
                                {{ request.session.email_address }}
                                {% else %}
                                No email address provided.
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
        <!-- End Personal Info -->

        <hr>

        <!-- Billing Account Info -->
        <div class="row py-1">
            <div class="col">
                <div class="row justify-content-center">
                    <h2 class="h4">{% trans "Water Billing Info" %}</h2>
                </div>
                <!-- Bill payer -->
                <div class="row py-1">
                    <div class="col justify-content-center">
                        <div class="row justify-content-center">
                            <h3 class="h6 pb-0 mb-0">
                                <strong>{% trans "" %}</strong>
                            </h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="h6 font-weight-normal text-center">
                                {% if request.session.account_holder == 'me' %}
                                    {% blocktrans %}
                                    You indicated <strong>you</strong> pay your own water bill.
                                    {% endblocktrans %}
                                {% elif request.session.account_holder == 'landlord' %}
                                    {% blocktrans %}
                                    You indicated <strong>your landlord</strong> pays the water bill (included in your rent).
                                    {% endblocktrans %}
                                {% else %}
                                    {% blocktrans %}
                                    You indicated <strong>someone else</strong> pays your own water bill (neither you nor your landlord).
                                    {% endblocktrans %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                {% if request.session.account_holder != 'me' %}
                <!-- Account Name -->
                <div class="row py-1">
                    <div class="col justify-content-center">
                        <div class="row justify-content-center">
                            <h3 class="h6 pb-0 mb-0">
                                {% if request.session.account_holder == 'landlord' %}
                                <strong>{% trans "Your Landlord" %}</strong>
                                {% else %}
                                <strong>{% trans "Person who pays the water bill" %}</strong>
                                {% endif %}
                            </h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="h5 font-weight-normal text-center">
                                {{ request.session.account_first }} {{ request.session.account_middle }}
                                {{ request.session.account_last }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>


        <div class="row justify-content-center py-2">
            <a role="button" href="{% url 'pathways-debug' %}" class="btn btn-primary">
                {% trans "This looks correct" %}</a>
        </div>
        <div class="row justify-content-center py-2">
            <a role="button" href="{% url 'pathways-apply' %}" class="btn btn-sm btn-outline-secondary">
                {% trans "Change my answers" %}</a>
        </div>
    </div>

</div>
{% endblock content %}