{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P9X95TF');
    </script>
    <!-- End Google Tag Manager -->


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Get Water Wise Buffalo</title>
    {% endif %}

    <meta name="description" content="Apply for financial assistance on your Buffalo Water bill in 10 minutes">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://getwaterwisebuffalo.org">
    <meta property="og:title" content="Get Water Wise Buffalo">
    <meta property="og:description" content="Apply for financial assistance on your Buffalo Water bill in 10 minutes">
    <meta property="og:image"
        content="https://getwaterwisebuffalo.org/static/pathways/cfa-styleguide-gem/app/assets/images/hero-home.jpg?0794406371bd">
    <!-- End Open Graph / Facebook -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://getwaterwisebuffalo.org">
    <meta property="twitter:title" content="Get Water Wise Buffalo">
    <meta property="twitter:description"
        content="Apply for financial assistance on your Buffalo Water bill in 10 minutes">
    <meta property="twitter:image"
        content="https://getwaterwisebuffalo.org/static/pathways/cfa-styleguide-gem/app/assets/images/hero-home.jpg?0794406371bd">
    <!-- End Twitter -->

    <!-- Compatibility -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">

    <!-- Custom CSS -->
    {% load compress %}
    {% compress css %}
    <link type="text/x-scss" media="screen" rel="stylesheet"
        href="{% static 'pathways/cfa-styleguide-gem/app/assets/stylesheets/cfa_styleguide_main.scss' %}">
    <link href="{% static 'pathways/fontawesome-free-5.13.0-web/css/all.css' %}" rel="stylesheet">
    {% endcompress %}
    <link rel="shortcut icon" href="{% static 'pathways/cfa-styleguide-gem/app/assets/images/favicon.ico' %}"
        type="image/x-icon">
    <!-- End Custom CSS -->

</head>


<body {% if homepageHeaderTemplate %} class="template--homepage" {% elif aboutHeaderTemplate %} class="template--about"
    {% else %} class="template--question" {% endif %}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9X95TF" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="page-wrapper">
        <header class="main-header">
            <div class="toolbar toolbar--hide-text-when-small">
                <div class="toolbar__left" style="margin-top: 1.5em;">
                    <div class="main-header__title">
                        <a class="main-header__logo toolbar__logo-text" href="/">GetWaterWiseBuffalo.org</a>
                    </div>
                </div>
                <!-- <div class="toolbar__right">
                    <form id="languageForm" action="{% url 'set_language' %}" method="post" aria-hidden="true">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <input type="hidden" name="language">
                    </form>
                    <a class="toolbar__item text--small link--subtle" href="#"
                        onclick="changeLanguage('en')">English</a>
                    <a class="toolbar__item text--small link--subtle" href="#"
                        onclick="changeLanguage('es')">Español</a>
                </div> -->
            </div>
        </header>

        <!-- Alerts and messages -->
        {% if messages %}
        {% for message in messages %}
        <div class="flash flash--{{ message.tags }}">
            <p class="flash__message">{{ message }}</p>
            <a href="#" class="flash__dismiss" aria-label="Dismiss"><span class="icon icon-close"></span></a>
        </div>
        {% endfor %}
        {% endif %}

        <!-- Content of page -->
        {% block content %}{% endblock content %}

    </div>

    <footer class="main-footer" style="letter-spacing: .05em;">
        <!-- Extra footer -->
        {% block homefooter %}{% endblock homefooter %}
        <div class="grid">
            <div class="grid__item">
                <p class="text-25-small text--grey-light">
                    {% blocktrans trimmed with CfBlink="http://www.codeforbuffalo.org" CfAlink="https://www.codeforamerica.org/updates/team-buffalo/equitable-water-in-buffalo"%}
                    GetWaterWiseBuffalo.org was created by <a class="link--subtle" href="{{ CfBlink }}">Code for
                        Buffalo</a> through the <a class="link--subtle" href="{{ CfAlink }}">2019 Code for America
                        Community Fellowship</a>, on behalf of the people of Buffalo, New York.
                    {% endblocktrans %}
                </p>
            </div>
        </div>

        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="{% static 'pathways/cfa-styleguide-gem/app/assets/javascripts/cfa_styleguide_main.js' %}"></script>
        <!-- <script>
            function changeLanguage(newLanguage) {
                $('input[name="language"]').val(newLanguage)
                $('#languageForm').submit();
            }
        </script> -->
        {% block pagejavascript %}{% endblock pagejavascript %}
    </footer>
</body>

</html>