{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Compatibility -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">

    <!-- Custom CSS -->
    {% load compress %}
    {% compress css %}
    <link type="text/x-scss" media="screen" rel="stylesheet"
        href="{% static 'pathways/cfa-styleguide-gem/app/assets/stylesheets/cfa_styleguide_main.scss' %}">
    {% endcompress %}

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{% trans "GetBuffaloWater"%}</title>
    {% endif %}
</head>


<body {% if isHomepage %} class="template--homepage" {% else %} class="template--question" {% endif %}>
    <div class="page-wrapper">
        <header class="main-header">
            <div class="toolbar toolbar--hide-text-when-small">
                <div class="toolbar__left">
                    <div class="main-header__title">
                        <a class="main-header__logo toolbar__logo-text" href="/en">GetBuffaloWater</a>
                    </div>
                </div>
                <div class="toolbar__right">
                    <form id="languageForm" action="{% url 'set_language' %}" method="post" aria-hidden="true">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <input type="hidden" name="language">
                    </form>
                    <a class="toolbar__item text--small link--subtle" href="#"
                        onclick="changeLanguage('en')">English</a>
                    <a class="toolbar__item text--small link--subtle" href="#"
                        onclick="changeLanguage('es')">Español</a>
                </div>
            </div>
        </header>

        <!-- Alerts and messages -->
        {% if messages %}
            {% for message in messages %}
            <div class="flash flash--{{ message.tags }}">
                <p class="flash__message">{{ message }}</p>
                <a href="#" class="flash__dismiss" aria-label="Dismiss"><span class="icon icon-close"></span></a>                
            </div>
            {% endfor %}
        {% endif %}

        <!-- Content of page -->
        {% block content %}{% endblock content %}
        
    </div>

    <footer class="main-footer">
        <!-- Extra footer -->
        {% block homefooter %}{% endblock homefooter %}
        <div class="grid">
            <div class="grid__item">
                <p class="text--small">GetBuffaloWater.org was created by <a class="link--subtle"
                        href="https://www.codeforamerica.org">Code for America</a> and <a class="link--subtle"
                        href="http://www.codeforbuffalo.org">Code for Buffalo</a> on behalf of the people of
                    Buffalo, New York.</p>
            </div>
        </div>

        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="{% static 'pathways/cfa-styleguide-gem/app/assets/javascripts/cfa_styleguide_main.js' %}"></script>
        <script>
            function changeLanguage(newLanguage) {
                $('input[name="language"]').val(newLanguage)
                $('#languageForm').submit();
            }
        </script>
        {% block pagejavascript %}{% endblock pagejavascript %}
    </footer>
</body>

</html>