{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h1 class="h6">Debug Session Info</h1>
        <div>household: {{ request.session.household }}</div>
        <div>hasHouseholdBenefits: {{ request.session.hasHouseholdBenefits }}</div>
        <div>income: {{ request.session.income }}</div>
        <div>pay_period: {{ request.session.pay_period }}</div>
        <div>annual_income: {{ request.session.annual_income }}</div>
        <div>first_name: {{ request.session.first_name }}</div>
        <div>last_name: {{ request.session.last_name }}</div>
        <div>middle_initial: {{ request.session.middle_initial }}</div>
        <div>rent_or_own: {{ request.session.rent_or_own }}</div>
        <div>account_holder: {{ request.session.account_holder }}</div>
        <div>street_address: {{ request.session.street_address }}</div>
        <div>apartment_unit: {{ request.session.apartment_unit }}</div>
        <div>zip_code: {{ request.session.zip_code }}</div>
        <div>phone_number: {{ request.session.phone_number }}</div>
        <div>email_address: {{ request.session.email_address }}</div>
    </div>
{% endblock content %}