{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h1 class="h6">Debug Session Info</h1>
        <div>Household: {{ request.session.household }}</div>
        <div>Household Benefits: {{ request.session.hasHouseholdBenefits }}</div>
        <div>Income: {{ request.session.income }}</div>
        <div>Pay Period: {{ request.session.pay_period }}</div>
        <div>Annual Income: {{ request.session.annual_income }}</div>
        <div>First name: {{ request.session.first_name }}</div>
        <div>Last name: {{ request.session.last_name }}</div>
        <div>Middle initial: {{ request.session.middle_initial }}</div>
        <div>Rent or own: {{ request.session.rent_or_own }}</div>
        <div>Account holder: {{ request.session.account_holder }}</div>
    </div>
{% endblock content %}