{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="h5 font-weight-normal">{% trans "Verify your residence" %}</div>
                    </div>
                    <div class="card-body">
                        <div class="container px-6">
                            <fieldset>
                                <div class="row">
                                    <legend class="h5">{{ form.residence_photo.label }}</legend>
                                    <!-- <label for="residence_photo" class="card-title" style="display: none">{{ form.residence_photo.label }}</label> -->
                                    <p id="hint_id_residence_photo">{{ form.residence_photo.help_text }}</p>
                                </div>
                                <div class="row">
                                    <!-- <label for="id_residence_photo" class="btn btn-primary">{% trans "Upload image" %}</label> -->
                                    <input type="file" name="residence_photo" id="id_residence_photo" accept="image/*"
                                        required>
                                    <!-- style="display: none"-->
                                </div>
                            </fieldset>
                            <hr>
                            <div class="row">
                                <div class="form-group">
                                    <button class="btn btn-primary"
                                        type="submit">{% trans "Done with documents" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}