{% extends "pathways/base.html" %}
{% load i18n %}

{% block jumbotron %}
<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="darken"></div>
    <div class="container text-white">
        <div class="row pt-3">
            <div class="col-md-8">
                    <h1 class="text-white font-weight-bold">{% trans "Get help paying your Buffalo water bill" %}</h1>
                    <p class="lead">{% trans "Apply for assistance in 5 minutes" %}</p>
                    <br class="my-4">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{% url 'pathways-apply' %}" role="button">{% trans "Apply now" %}</a>
                    </p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endblock jumbotron %}
{% block content %}
{% endblock content %}