{% extends "pathways/base.html" %}
{% load i18n %}
{% block content %}
<section class="slab slab--white">
    <div class="grid spacing-above-60 spacing-below-60">
        <div class="grid__item">
            <h1>Nondiscrimination</h1>
        </div>
    </div>
</section>
<section class="slab">
    <div class="grid">
        <div class="grid__item width-three-fourths">
            <h2>{% trans "Nondiscrimination Statement" %}</h2>
            <p>
                {% blocktrans %}
                Buffalo Water and GetWaterWiseBuffalo.org do not discriminate on the basis of an individual's
                actual or perceived race, color, religion, religious practice, national origin, ethnic group, sex,
                gender identity, sexual orientation, political affiliation, age,
                marital status, military status, veteran status, disability, weight or any other basis prohibited by New
                York state and/or federal non-discrimination laws in its programs and activities.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                To file a complaint, contact the <a href="https://dhr.ny.gov/complaint">New York State Division of Human
                    Rights</a>.
                {% endblocktrans %}
            </p>
            <blockquote>
                <p>Walter J. Mahoney State Office Bldg.
                    <br>
                    65 Court Street, Suite 506
                    <br>
                    Buffalo, New York 14202
                    <br>
                    Telephone No. (716) 847-7632
                    <br>
                    eFax: (716) 847-3445
                    <br>
                    InfoBuffalo@dhr.ny.gov</p>
            </blockquote>
        </div>
    </div>
</section>
{% endblock content %}