{%  extends "pathways/base.html" %}
{% load i18n %}
{% block content %}
    <h1>Nondiscrimination Policy</h1>
    <p>Buffalo Water does not and shall not discriminate on the basis of race, color, religion (creed), gender, gender expression, age, national origin (ancestry), disability, marital status, sexual orientation, or military status, in any of its activities or operations. These activities include, but are not limited to, hiring and firing of staff, selection of volunteers and vendors, and provision of services. We are committed to providing an inclusive and welcoming environment for all members of our staff, clients, volunteers, subcontractors, vendors, and clients.
    </p>

{% endblock content %}