{% extends "pathways/snippets/question.html" %}
{% load i18n %}
{% load static %}

{% block question %}
<div class="form-card form-card--transition">
    <div class="form-card__header">
        <i class="fas fa-check fa-3x spacing-below-35 text--blue-dark"></i>
        <h1 class="form-card__title">
            {% trans "Your application has been successfully submitted!" %}
        </h1>
        <p class="margin-bottom--none">
            {% trans "Submitted to Buffalo Water on " %}{{ confirm_timestamp }}
        </p>
    </div>

    <div class="form-card__content">
        <h3 class="spacing-below-35">
            What to expect next:
        </h3>
        <div class="media-box spacing-below-35">
            <div class="media-box__media">
                <i class="fas fa-clipboard-list fa-2x spacing-below-35 text--blue-dark"></i>
            </div>
            <div class="media-box__content">
                {% trans "<strong>Your application will be reviewed</strong> by Buffalo Water." %}
            </div>
        </div>

        <div class="media-box spacing-below-35">
            <div class="media-box__media">
                <i class="fas fa-camera fa-2x spacing-below-35 text--blue-dark"></i>
            </div>
            <div class="media-box__content">
                {% blocktrans %}
                In some cases, <strong>Buffalo Water may ask you to send them additional proof</strong> of your
                situation. You can upload additional documents at <a href="https://getwaterwisebuffalo.org/later-documents/">getwaterwisebuffalo.org/later-documents/</a>
                {% endblocktrans %}
            </div>
        </div>

        <div class="media-box spacing-below-35">
            <div class="media-box__media">
                <i class="fas fa-percent fa-2x spacing-below-35 text--blue-dark"></i>
            </div>
            <div class="media-box__content">
                {% blocktrans %}
                <strong>You’ll receive a discount on your next water bill</strong> if approved.
                {% endblocktrans %}
            </div>
        </div>
    </div>
</div>
{% endblock question %}