{% extends "pathways/snippets/question.html" %}
{% load i18n %}
{% load static %}

{% block question %}
<div class="form-card form-card--transition">
  <div class="form-card__header">
    <h1 class="form-card__title">
      {% if is_eligible %}
      {% trans "You are eligible for assistance on your water bill!" %}
      {% else %}
      {% trans "Unfortunately you don't appear to be eligible for assistance on your water bill" %}
      {% endif %}
    </h1>
  </div>
  <div class="form-card__content">
    {% if is_eligible %}
    <i class="fas fa-thumbs-up fa-3x spacing-below-35 text--blue-dark"></i>
    {% else %}
    <i class="far fa-frown fa-3x spacing-below-35 text--blue-dark"></i>
    {% endif %}
    {% if request.session.has_household_benefits == 'True' %}
    <p>
      {% blocktrans trimmed %}
      Because you indicated someone in your household is enrolled in an assistance program like SNAP or HEAP, your
      household is <strong>automatically eligible</strong> to receive a discount on your water bill.
      {% endblocktrans %}
    </p>
    {% else %}
    <p>
      {% blocktrans trimmed with household_size=request.session.household_size %}
      The pre-tax annual income limit for a household size of <strong>
        {{ household_size }}</strong> is <strong>{{ max_income }}</strong>.
      {% endblocktrans %}
    </p>
    <p>
      {% if is_eligible %}
      {% trans "Based on your answers, you look to be <strong>under</strong> the pre-tax income limit." %}
      {% else %}
      {% trans "Based on your answers, you look to be <strong>over</strong> the pre-tax income limit." %}
      {% endif %}
    </p>
      {% if not is_eligible %}
        <p>
          {% blocktrans trimmed %}
          If you are interested in any of these additional Pathways to Affordable Water, please contact Buffalo Water directly at <a href="https://buffalowater.org/contactus/">buffalowater.org/contactus/</a>
          {% endblocktrans %}
          <ul class="text--left list--bulleted text--blue-dark">
            <li><span class="text--grey-darkest">
                    Low Income Senior Citizen Discount <br>
                    <small> (must be 65 years of age)</small>
                    </span></li>
            <li><span class="text--grey-darkest">Monthly Payment Plans</span></li>
            <li><span class="text--grey-darkest">Extended Repayment Periods</span></li>
            <li><span class="text--grey-darkest">Interest Charge Suspension</span></li>
            <li><span class="text--grey-darkest">Monthly Billing Option</span></li>
            <li><span class="text--grey-darkest">Leak Abatement Program</span></li>
        </ul>
        </p>
      {% endif %}
    {% endif %}
  </div>
  <div class="form-card__footer">
    {% if is_eligible %}
    <a class="button button--primary" href="{% url 'pathways-apply-additional-questions' %}">
      {% trans "Continue" %} <i class="icon icon-arrow_forward"></i></a>
    {% else %}
    <a class="button" href="https://buffalowater.org/contactus/">
      {% trans "Contact" %} <i class="icon icon-info"></i></a>
    {% endif %}
    <a class="button" href="{% if request.session.has_household_benefits %}{% url 'pathways-apply-household-benefits' %}
    {% else %}{% url 'pathways-apply-review-eligibility' %}{% endif %}">
      {% trans "Go back" %} <i class="icon icon-replay"></i></a>
  </div>
</div>
{% endblock question %}