{% extends "pathways/snippets/question.html" %}
{% load i18n %}
{% load static %}

{% block question %}
<div class="form-card form-card--transition">

    <form method="POST">
        {% csrf_token %}
        <div class="form-card__content">
            <div class="form-card__header">
                <h1 class="form-card__title" id="income-method-buttons">{{ form.income_method.label }}</h1>
            </div>

            {% for value, text in form.income_method.field.choices %}
            <p>
                <button class="button button--{% if value == 'estimate' %}link{% else %}primary{% endif %}"
                    type="submit" name="income_method" value="{{ value }}" aria-describedby="income-method-buttons">
                    {{ text }}
                </button>
            </p>
            {% endfor %}
        </div>
    </form>


</div>
{% endblock question %}