{% extends "pathways/snippets/question.html" %}
{% load i18n %}
{% load static %}

{% block question %}
<div class="form-card">
    <form style="display: inline-block;" method="POST">
        {% csrf_token %}
        <header class="form-card__header">
            <h1 class="form-card__title">{{ card_title }}</h1>
        </header>
        <div class="form-card__content">
            {% for field in form.visible_fields %}
            <div class="form-group {% if field.errors %}form-group--error{% endif %}">
                <label for="{{field.name}}" class="form-question">{{ field.label }}</label>
                <p class="text--help nudge--tiny">{{ field.help_text }}</p>
                <input type="text" class="text-input form-width--name" id="{{field.name}}"
                    placeholder="{{ field.placeholder }}" name="{{field.name}}" onblur="enteredAccountNumber()">
                {% if field.errors %}
                {% for error in field.errors %}
                <p class="text--error"><i class="icon-warning"></i>{{ error|escape }}</p>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>


        <div class="form-card__footer">
            <input type="hidden" id="has_account_number" name="has_account_number" value="False" aria-hidden="false">
            <button name="button" type="submit" class="button button--primary">
                {% trans "Continue" %}<i class="icon-arrow_forward" aria-hidden='true'></i>
            </button>
            {% if isAccountNumberView %}
            <button name="button" type="submit" class="button" style="margin-left: 0px;">
                {% trans "I can't find my account number" %}
            </button>
            {% endif %}
        </div>
    </form>
    <script>
        function enteredAccountNumber() {
            if (typeof $('input[name="account_number"]').val() !== 'undefined' && $('input[name="account_number"]')
                .val() != '') {
                $('input[name="has_account_number"').val('True');
            } else {
                $('input[name="has_account_number"').val('False')
            }
        }
    </script>
</div>
{% endblock question %}