{% extends "pathways/snippets/question.html" %}
{% load i18n %}
{% load static %}

{% block question %}
<div class="form-card form-card--transition">
    <div class="form-card__header">
        <i class="fas fa-money-check-alt fa-3x spacing-below-35 text--blue-dark"></i>
        <h1 id="other-income-yes-no-buttons" class="form-card__title">
            {{ form.has_other_income.label }}
        </h1>
    </div>
    <p>{% trans "For example:" %}</p>
    <p class="text--centered">
        <ul class="spacing-below-35">
            <li class="example">{% trans "Social Security" %}</li>
            <li class="example">{% trans "State Disability" %}</li>
            <li class="example">{% trans "Military BAH" %}</li>
            <li class="example">{% trans "Child support" %}</li>
            <li class="example">{% trans "Worker’s comp" %}</li>
            <li class="example">{% trans "Alimony" %}</li>
            <li class="example">{% trans "Unemployment" %}</li>
            <li class="example">{% trans "VA Benefits" %}</li>
            <li class="example">{% trans "Pensions" %}</li>
            <li class="example">{% trans "Monetary gifts" %}</li>
            <li class="example">{% trans "Rental income" %}</li>
        </ul>
    </p>

    <form method="POST" style="display: inline-block;">
        {% csrf_token %}
        <label class="sr-only" for="id_has_other_income">{{ form.has_other_income.label }}</label>
        <p class="sr-only text--help">{{ form.has_other_income.help_text }}</p>
        <button type="submit" name="has_other_income" class="button" value="True"
            aria-describedby="other-income-yes-no-buttons">
            <span class="button__icon--left emoji emoji--inline emoji--checkmark"></span></i>{% trans "Yes" %}</button>
        <button type="submit" name="has_other_income" class="button" value="False"
            aria-describedby="other-income-yes-no-buttons">
            <span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>{% trans "No" %}</button>
    </form>
</div>
{% endblock question %}