{% extends "pathways/snippets/question.html" %}
{% load i18n %}
{% load static %}

{% block question %}
<div class="form-card form-card--transition">
    <div class="grid">
        <div class="grid__item width-two-thirds shift-one-sixth">
            <h1 class="form-card__title">{% trans "Let's review what you told us about your application so far." %}</h1>
            <div class="vertical-steps">

                <div class="vertical-steps__step">
                    <i class="fas fa-money-bill fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">
                        {{ income_formatted }}

                        {% if request.session.pay_period == 'weekly' %}
                        {% trans "per week" %}

                        {% elif request.session.pay_period == 'biweekly' %}
                        {% trans "every 2 weeks" %}

                        {% elif request.session.pay_period == 'semimonthly' %}
                        {% trans "twice a month" %}
                        
                        {% elif request.session.pay_period == 'monthly' %}
                        {% trans "per month" %}

                        {% elif request.session.income_method == 'hourly' %}
                        {% trans "per hour" %}

                        {% elif request.session.income_method == 'annually' %}
                        {% trans "per year" %}

                        {% else  %}
                        {% trans "from job(s)" %}
                        {% endif %}
                    </div>
                    <p>
                        {% if request.session.income_method == 'estimate' %}
                        {% trans "Estimated income before taxes" %}

                        {% elif request.session.income_method == 'hourly' %}
                        {{ request.session.pay_period }} {% trans "hours per week" %}

                        {% elif request.session.income_method == 'exact' %}
                        {% trans "Income before taxes" %}

                        {% else %}
                        {% trans "You indicated no job source of income." %}
                        {% endif %}
                    </p>
                </div>

                <div class="vertical-steps__step">
                    <i class="fas fa-money-check-alt fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">
                        {{ non_job_income_formatted }}
                        {% if request.session.has_other_income == 'True' %}
                        {% trans "per month" %}
                        {% endif %}
                    </div>
                    <p>
                        {% if request.session.has_other_income == 'True' %}
                        {% trans "Money from other sources" %}
                        {% else %}
                        {% trans "No income from other sources" %}
                        {% endif %}
                    </p>
                </div>
                

                <div class="vertical-steps__step">
                    <i class="fas fa-house-user fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">{{ request.session.household_size }}</div>
                    <p>{% trans "Household size" %}</p>
                </div>

                <div class="vertical-steps__step">
                    <div class="notice">
                        <p>{% trans "Based on this info, your annual eligible income is" %}</p>
                        <div class="vertical-steps__title">{{ annual_income_formatted }} per year</div>
                    </div>
                </div>

            </div>

            <p><a class="button button--primary" href="{% url 'pathways-apply-eligibility' %}">
                    {% trans "This looks correct" %}</a></p>
            <p><a class="button" href="{% url 'pathways-apply-household-size' %}">
                    {% trans "Change my answers" %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock question %}