{% extends "pathways/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    {% csrf_token %}
    <div class="container">
        <h1 class="h5 font-weight-normal border-bottom mb-4 text-center">{% trans "Apply for Affordable Water" %}</h1>
        <div class="row justify-content-center">
            <h2 class="h6 font-weight-normal">
                {% trans "Let's review what you told us about your application" %}
            </h2>
        </div>
        <div class="container">
            <!-- Household size -->
            <div class="row justify-content-center py-1">
                <p class="text-center">
                    {% trans "Your household size:" %}
                    <br><span class="font-weight-bold" style="color: green">
                        {{ request.session.household }}</span>
                </p>
            </div>
            <!-- Estimated Household Income -->
            <div class="row justify-content-center py-1">
                <p class="text-center">
                    {% trans "Your estimated annual household income:" %}
                    <br><span class="font-weight-bold" style="color: green">
                        {{ income_formatted }}</span>
                </p>
            </div>
            <!-- Other Assistance Programs Status -->
            {% if request.session.hasHouseholdBenefits == 'False'%}
            <div class="row justify-content-center py-1">
                <p class="text-center">
                    {% trans "You indicated <strong>no one</strong> in your household is enrolled in other assistance programs." %}
                </p>
            </div>
            {% endif %}
            <!-- Interaction buttons -->
            <div class="row justify-content-center py-2">
                <a role="button" href="{% url 'pathways-apply-eligibility' %}" class="btn btn-primary">
                    {% trans "This looks correct" %}</a>
            </div>
            <div class="row justify-content-center py-2">
                <a role="button" href="{% url 'pathways-apply-income-methods' %}"
                    class="btn btn-sm btn-outline-secondary">
                    {% trans "Change my answers" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}