{% extends "pathways/snippets/question.html" %}
{% load i18n %}
{% load static %}

{% block question %}
<div class="form-card form-card--transition">
    <div class="grid">
        <div class="grid__item width-two-thirds shift-one-sixth">
            <h1 class="form-card__title">{% trans "Let's review what you told us about your application." %}</h1>

            <!-- Eligibility Info -->
            <h2>{% trans "Eligibility Info" %}</h2>
            <div class="vertical-steps">
                <div class="vertical-steps__step">
                    <i class="fas fa-house-user fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">{{ request.session.household_size }}</div>
                    <p>{% trans "Household size" %}</p>
                </div>

                {% if not request.session.has_household_benefits %}
                <div class="vertical-steps__step">
                    <i class="fas fa-money-bill fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">
                        {{ income_formatted }}

                        {% if request.session.pay_period == 'weekly' %}
                        {% trans "per week" %}

                        {% elif request.session.pay_period == 'biweekly' %}
                        {% trans "every 2 weeks" %}

                        {% elif request.session.pay_period == 'semimonthly' %}
                        {% trans "twice a month" %}
                        
                        {% elif request.session.pay_period == 'monthly' %}
                        {% trans "per month" %}

                        {% elif request.session.income_method == 'hourly' %}
                        {% trans "per hour" %}

                        {% elif request.session.income_method == 'annually' %}
                        {% trans "per year" %}

                        {% else  %}
                        {% trans "from jobs" %}
                        {% endif %}
                    </div>
                    <p>
                        {% if request.session.income_method == 'estimate' %}
                        {% trans "Estimated income before taxes" %}

                        {% elif request.session.income_method == 'hourly' %}
                        {{ request.session.pay_period }} {% trans "hours per week" %}

                        {% elif request.session.income_method == 'exact' %}
                        {% trans "Income before taxes" %}

                        {% else %}
                        {% trans "You indicated no job source of income." %}
                        {% endif %}
                    </p>
                </div>
                
                <div class="vertical-steps__step">
                    <i class="fas fa-money-check-alt fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">
                        {{ non_job_income_formatted }}
                        {% trans "per month" %}
                    </div>
                    <p>{% trans "Money from other sources" %}</p>
                </div>
                {% endif %}

                <div class="vertical-steps__step">
                    <i class="fas fa-clipboard-list fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">
                        {% if request.session.has_household_benefits %}
                        {% trans "Current household benefits" %}
                        {% else %}
                        {% trans "No current household benefits" %}
                        {% endif %}
                    </div>
                    <p>
                        {% if request.session.has_household_benefits %}
                        {% trans "You indicated <strong>someone</strong> in your household is enrolled in existing assistance programs like SNAP, HEAP, SSI, or Public Assistance" %}
                        {% else %}
                        {% trans "You indicated <strong>no one</strong> in your household is enrolled in existing assistance programs like SNAP, HEAP, SSI, or Public Assistance." %}
                        {% endif %}
                    </p>
                </div>


                <div class="vertical-steps__step">
                    <div class="notice">
                        <p>
                            {% if request.session.has_household_benefits %}
                            {% blocktrans trimmed %}
                            Based on this info, you are <br><strong>automatically eligible.</strong>
                            {% endblocktrans %}
                            {% else %}
                            {% trans "Based on this info, your annual eligible income is" %}
                            {% endif %}
                        </p>
                        {% if not request.session.has_household_benefits %}
                        <div class="vertical-steps__title">
                            {{ annual_income_formatted }} per year
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <p><a class="button button--small" href="{% url 'pathways-apply-household-size' %}">
                    {% trans "Change my eligibility info" %}</a>
            </p>

            <!-- Personal Info -->
            <h2>{% trans "Personal Info" %}</h2>
            <div class="vertical-steps">
                <div class="vertical-steps__step">
                    <i class="fas fa-user fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">{{ request.session.first_name }}
                        {{ request.session.middle_initial }}
                        {{ request.session.last_name }}</div>
                    <p>{% trans "Your full name" %}</p>
                </div>

                <div class="vertical-steps__step">
                    <i class="fas fa-home fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">
                        {% if request.session.rent_or_own == 'rent' %}
                        {% trans "Renter" %}
                        {% else %}
                        {% trans "Homeowner" %}
                        {% endif %}
                    </div>
                    <p>
                        {% if request.session.rent_or_own == 'rent' %}
                        {% trans "You indicated you rent your home at" %}
                        {% else %}
                        {% trans "You indicated you own your home at" %}
                        {% endif %}
                        <br>
                        {{ request.session.street_address }}
                        <br>
                        {% if request.session.apartment_unit != "" %}
                        {% trans "Apartment" %}{{ request.session.apartment_unit }}
                        {% endif %}
                        <br>
                        Buffalo, NY {{ request.session.zip_code }}
                    </p>
                </div>
                <div class="vertical-steps__step">
                    <i class="fas fa-phone fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">{{ request.session.phone_number }}</div>
                    <p>{% trans "Your phone number" %}</p>
                </div>

                <div class="vertical-steps__step">
                    <i class="fas fa-at fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">
                        {% if request.session.email_address %}
                        {{ request.session.email_address }}
                        {% else %}
                        No email address provided.
                        {% endif %}
                    </div>
                    <p>
                        {% if request.session.email_address %}
                        {% trans "Your email address" %}
                        {% endif %}
                    </p>
                </div>
            </div>
            <p><a class="button button--small" href="{% url 'pathways-apply-resident-info' %}">
                    {% trans "Change my personal info" %}</a>
            </p>

            <!-- Water Account Info -->
            <h2>{% trans "Water Account Info" %}</h2>
            <div class="vertical-steps">
                <div class="vertical-steps__step">
                    <i class="fas fa-user-cog fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">
                        {{ request.session.account_first }}
                        {{ request.session.account_middle }}
                        {{ request.session.account_last }}
                    </div>
                    <p>
                        {% if request.session.account_holder == 'me' %}
                        {% trans "You pay your own water bill." %}
                        {% elif request.session.account_holder == 'landlord' %}
                        {% trans "Your landlord pays the water bill." %}
                        {% else %}
                        {% trans "This person pays your water bill" %}
                        {% endif %}
                    </p>
                </div>

                <div class="vertical-steps__step">
                    <i class="fas fa-faucet fa-3x spacing-below-35 text--blue-dark"></i>
                    <div class="vertical-steps__title">
                        {% if request.session.account_number %}
                        {{ request.session.account_number }}
                        {% else %}
                        No account number provided.
                        {% endif %}</div>
                    <p>
                        {% if request.session.account_number %}
                        {% trans "Your Buffalo Water account number" %}{% endif %}
                    </p>
                </div>
            </div>
            <p><a class="button button--small" href="{% url 'pathways-apply-resident-info' %}">
                    {% trans "Change water account info" %}</a></p>
<hr>
            <p><a class="button button--primary" href="{% url 'pathways-apply-legal' %}">
                    {% trans "This all looks correct" %}</a></p>
        </div>
    </div>
</div>
{% endblock question %}