{% extends "pathways/snippets/question.html" %}
{% load i18n %}
{% load static %}

{% block question %}
<div class="form-card form-card--transition">
    <div class="form-card__header">
        <div class="spacing-below-35 emoji emoji--big emoji--briefcase"></div>
        <h1 id="self-employed-yes-no-buttons" class="form-card__title">
            {{ form.is_self_employed.label }}
        </h1>
    </div>
    <p>{% trans "For example, does anyone:" %}</p>
    <p class="text--centered">
        <div class="spacing-below-35">
            <div class="example">{% trans "Drive for Uber, Lyft, Doordash, etc" %}</div>
            <div class="example">{% trans "Run their own business" %}</div>
            <div class="example">{% trans "Have an online store" %}</div>
            <div class="example">{% trans "Get a 1099-MISC form at the end of the year" %}</div>
            <div class="example">{% trans "Work as a barber, dog walker, or other independent service provider" %}</div>
        </div>
    </p>

    <form method="POST" style="display: inline-block;">
        {% csrf_token %}
        <label class="sr-only" for="id_is_self_employed">{{ form.is_self_employed.label }}</label>
        <p class="sr-only text--help">{{ form.is_self_employed.help_text }}</p>
        <button type="submit" name="is_self_employed" class="button" value="True"
            aria-describedby="self-employed-yes-no-buttons">
            <span class="button__icon--left emoji emoji--inline emoji--checkmark"></span></i>{% trans "Yes" %}</button>
        <button type="submit" name="is_self_employed" class="button" value="False"
            aria-describedby="self-employed-yes-no-buttons">
            <span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>{% trans "No" %}</button>
    </form>
</div>
{% endblock question %}