{% extends "pathways/snippets/question.html" %}
{% load i18n %}
{% load static %}

{% block question %}
<div class="form-card form-card--transition">
    <div class="form-card__header">
        <h1 class="form-card__title">{% trans "Here's how the Water Amnesty Program works." %}</h1>
    </div>
    <div class="form-card__content">
        <div class="vertical-steps spacing-below-10">
            <div class="vertical-steps__step">
                <i class="fas fa-clipboard-list fa-2x spacing-above-10 spacing-below-10 text--blue-light"></i>
                <p class="with-no-padding"><b>{% trans "Submit an application" %}</b></p>
                <p>
                    {% trans "We’ll guide you step by step. This should take less than 5 minutes." %}</p>
                <div class="reveal is-hidden">
                    <p><a href="#" class="reveal__link">{% trans "What water debt is forgiven?" %}</a></p>
                    <div class="reveal__content text--left">
                        <ul class="list--bulleted text--small">
                            <li>{% trans "Waives interest and penalties associated with Buffalo Water account balance" %}</li>
                            <li>{% trans "Waives the meter fee" %}</li>
                            <li>{% trans "Forgives any charge related to a burst meter if applicable" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="vertical-steps__step">
                <i class="fas fa-phone fa-2x spacing-above-10 spacing-below-10 text--blue-light"></i>
                <p class="with-no-padding"><b>{% trans "Receive call from Buffalo Water" %}</b></p>
                <p>
                    {% trans "A customer service representative will follow up with you to complete the process." %}
                </p>
                <div class="reveal is-hidden">
                    <p><a href="#" class="reveal__link">{% trans "Am I eligible?" %}</a></p>
                    <div class="reveal__content text--left">
                        <p class="heading-25-small">
                            {% trans "To be eligible for the amnesty program, you must agree to the following terms:" %}
                        </p>
                        <ul class="list--bulleted text--small">
                            <li>{% trans "Enroll in a 12-month plan to repay the past due amount" %}
                            </li>
                            <li>{% trans "Make downpayment of 10% of remaining principal balance" %}</li>
                            <li>{% trans "Enroll in automatic monthly billing to continue to make timely payments and remain current on the bill" %}
                            </li>
                            <li>{% trans "Allow Buffalo Water to install an advanced reading technology water meter" %}</li>
                        </ul>

                    </div>

                </div>
            </div>
            <div class="vertical-steps__step">
                <i class="fas fa-money-check-alt fa-2x spacing-above-10 spacing-below-10 text--blue-light"></i>
                <p class="with-no-padding"><b>{% trans "Continue payment plan" %}</b></p>
                <p>
                    {% trans "Once you complete your payment plan, you’ll be on a path to sustainable water affordability!" %}</p>

            </div>
        </div>
    </div>
    <div class="form-card__footer">
        <p>
            <a class="button button--primary" href="{% url 'pathways-forgive-city-resident' %}">
                {% trans "Get started" %} <i class="icon icon-arrow_forward"></i>
            </a> </p>
    </div>
</div>
{% endblock question %}