{% load static %}
{% load i18n %}
<div class="reveal is-hidden">
    <p><a href="#" class="reveal__link">{% trans "Already submit an application by mail, fax, or email?" %}</a></p>
    <div class="reveal__content text--left">
        <p>
            {% blocktrans trimmed %}
            If so, quickly <a href="https://getwaterwisebuffalo.org/apply/discount-overview/">start a new application</a> on this site. We can only upload documents for applications submitted through GetWaterWiseBuffalo.org.  
            {% endblocktrans %}
        </p>
    </div>
</div>