<div class="reveal text--small">
    <p><a href="#" class="reveal__link">{% trans "Not sure who counts?" %}</a></p>
    <div class="reveal__content text--left">
        <ul class="list--bulleted text--small spacing-below-10">
            <li>{% blocktrans trimmed %}<strong>Roommates</strong>: Only include roommates if you share living expenses for utilities and rent.{% endblocktrans %}</li>
            <li>{% blocktrans trimmed %}<strong>Immigrants</strong>: Any immigrant can choose to opt-out and will not be asked about
                their immigration status. If you wish, you may include them in the total household size.{% endblocktrans %}</li>
            <li>{% blocktrans trimmed %}<strong>Separation/divorce</strong>: In cases of separation or divorce, only include the
                other person if they live with you. Include your children if they spend most of their time at your home. The same child cannot be included on more than one application.{% endblocktrans %}</li>
            <li>{% blocktrans trimmed %}<strong>Pregnant mothers</strong>: Do not include unborn children on this application.{% endblocktrans %}</li>
        </ul>
    </div>
</div>